*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height: 350px;
    background-color: rgb(245, 245, 245);
    padding: 35px;
}
footer .parte-superior{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 120px;
}

footer .pagmentos{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer .pagamentos h1{
    font-size: 16px;
}    
footer .pagamentos img{
    width: 50;
    height: 30px;
    margin: 3px;
}
footer .redes-sociais h1{
    font-size: 16px;
}
footer .redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .redes-sociais .item{
    display: flex;
    align-items: center; 
    gap: 8px;
}  
footer .redes-sociais img{
    widht: 20px;
    height: 20px;
}
footer .loja-app{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .loja-app img{
    width: 50px;
    height: 20px;
}
footer .loja-app .qrcode img{
    width: 50px;
    height: 50px;
}
footer .loja-app h1{
    font-size: 16px;
}
footer .atendimento-cliente{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .atendimento-cliente h1{
    font-size: 16px;
}
footer .atendimento-cliente p{
    font-size: 13px;
}
footer .sobre-xhopii{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .sobre-xhopii h1{
    font-size: 16px;
}
footer .sobre-xhopii p{
    font-size: 13px;
}
footer .rodape-direitos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
footer .rodape-direitos h3{
    font-size: 16px;
}
footer .linha{
  border-top: 1px solid #ccc;
  margin: 20px auto;
  width: 90%;
}
footer .inferior{
    height: 50px;
    margin-top: 80px;
}
nav{
    width: 100%;
    height: 75px;
    background-color: rgb(245, 245, 245);
}
nav .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .conteudo .ajuda{
    margin-right: 20%;
}
nav .logo-marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    margin-left: 20%;
}
nav .logo-marca h1{
    margin-bottom: 15px;
    font-size: 24px;
    color: rgb(251, 86, 48);
}
nav .conteudo .logo-marca p{
    font-size: 22px;
    margin-left: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
nav .logo-marca .imagem-logo img{
    width: 50px;
    height: 50px;
}
nav .conteudo p{
    color:rgb(251, 86, 48);
    font-size: 13px;
}
section{
    background-color: rgb(251, 86, 48);
}