<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/c_cliente.css">
    <title>Cadastrar Cliente</title>
</head>
<body>
    <header>
        <nav class="conteudo">
            <section class="logo"> <!--Implementação da logo-->
                <img src="../assets/img/logo.png">
                <h1>Xhopii</h1>
            </section>
            <section class="sair">
                <p>Sair</p>
            </section>
        </nav>
    </header>

<nav> <!--Lista de opções de menu-->
    <section class="menu-horizontal">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Cadastro Cliente</a></li>
                <li><a href="">Cadastro Funcionário</a></li>
                <li><a href="">Cadastro Produto</a></li>
                <li><a href="">Ver Clientes</a></li>
                <li><a href="">Ver Funcionários</a></li>
                <li><a href="">Ver Produtos</a></li>
            </ul>
    </section>
</nav>

<section class="pagina-fundo">
    <section class="fundo-forms">   
        <section class="formulario">
            <h2>Cadastrar Produto</h2>
            <form>
                <input type="text" placeholder="Nome" name="nome">
                <input type="text" placeholder="Fabricante" name="fabricante">
                <input type="text" placeholder="Descrição" name="descrição">
                <input type="number" placeholder="Valor" name="valor">
                <input type="number" placeholder="Quantidade" name="quantidade">
            </form>
            <h4>Selecionar foto do produto:</h4>
            <section class="selecionar-foto-conteudo">
                <p id="escolher-arquivo">Escolher Arquivo</p>
                <p>Nenhum arquivo escolhido</p>
            </section>
            <section class="cadastrar">
                <p>CADASTRAR</p>
            </section>
            </section>
        </section>
    </section>
</section>

<footer>
        <section class="parte-superior">
            <section class="atendimento-cliente">
                <h1>Atendimento ao Cliente</h1>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Faler conosco</p>
                <p>Ouvidoria</p>
            </section>

            <section class="sobre-xhopii">
                <h1>Sobre a Xhopii</h1>
                <p>Sobre Nós</p>
                <p>Políticas Xhopii</p>
                <p>Políticas de Privacidade</p>
                <p>Programa de Aliados Xhopii</p>
                <p>Seja um Entregador Xhopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopii Blog</p>
                <p>Imprensa</p>
            </section>
            <section class="pagamentos">
                <h1>PAGAMENTOS</h1>
                <section class="primeiras">
                    <img src="../assets/img/pix_logo.png" alt="logo pix">
                    <img src="../assets/img/boleto_logo.png" alt="logo boleto">
                    <img src="../assets/img/amex-logo.png" alt="logo american express">
                </section>
                <section class="segundas">
                    <img src="../assets/img/visa_logo.png" alt="logo visa">
                    <img src="../assets/img/mastercard_logo.svg" alt="logo master card">
                    <img src="../assets/img/hipercard_logo.svg" alt="logo hipercard">
                </section>
                <img src="../assets/img/elo_logo.svg" alt="logo elo">
            </section>
            <section class="redes-sociais">
                <h1>SIGA-NOS</h1>
                <section class="item">
                    <img src="../assets/img/instagram_logo.png" alt="instagram logo">
                    <p>Instagram</p>
                </section>
                <section class="item">
                    <img src="../assets/img/twitter_logo.png" alt="twitter logo">
                    <p>Twitter</p>
                </section>
                <section class="item">
                    <img src="../assets/img/facebook_logo.png" alt="facebook logo">
                    <p>Facebook</p>
                </section>
                <section class="item">
                    <img src="../assets/img/youtube_logo.png" alt="youtube logo">
                    <p>Youtube</p>
                </section>
                <section class="item">
                    <img src="../assets/img/linkedin_logo.png" alt="linkdin logo">
                    <p>Linkedin</p>
                </section>
            </section>
            <section class="loja-app">
                <h1>ATENDIMENTO AO CLIENTE</h1>
                <section class="qrcode">
                    <img src="../assets/img/qr_code.png" alt="qr code">
                </section>
                <img src="../assets/img/googleplay_logo.png" alt="logo google play">
                <img src="../assets/img/apple_logo.svg" alt="logo apple store">
            </section>
        </section>
        <section class="inferior">
            <section class="linha"></section>
                <section class="rodape-direitos">
                    <h3>©2026 Xhopii. Todos os direitos acadêmicos reservados</h3>
                </section>
        </section>
    </footer>

</body>