<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tela-Home-Xhoppi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/home.css">
    <script type="text/javascript" src="assets/script.js"></script>
</head>
<body>
    <header>
        <section class="logo"> <!--Implementação da logo-->
                <img src="../assets/img/logo.png">
                <h1>Xhopii</h1>
            </section>
        </section>

        <section class="nome-empresa"> <!--Nome da logo-->
            
        </section>

    </header>

    <nav > <!--Lista de opções de menu-->
        <section class="menu-horizontal">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Cadastro Cliente</a></li>
                <li><a href="">Cadastro Funcionário</a></li>
                <li><a href="">Cadastro Produto</a></li>
                <li><a href="">Ver Clientes</a></li>
                <li><a href="">Ver Funcionários</a></li>
                <li><a href="">Ver Produtos</a></li>
            </ul>
    </section>

    </nav>

    
</body>
</html>